.dropdown__item {
    border-top: 1px solid @color_text_underline;
    color: @color_text_main;
    display: block;
    font-size: 13px;
    line-height: 29px;
    padding: 5px 10px;
    text-align: left;
}

.dropdown__item:first-child {
    border-top: none;
    margin-top: 5px;
}