.nav__button {
    .button-border-color(@color__theme_purple);
    .button-width(130px);

    background-color: @color__theme_purple;
    color: @color__solid_white;
    font-size: 13px;
    margin: 19px 25px 0 0;
}

.nav__button:hover {
    .button-focus-animation(header-button-focus, 
        @color__theme_purple, @color__solid_white, 
        @color__solid_white, @color__theme_purple);
    
    background-color: @color__solid_white;
    color: @color__theme_purple;
}

@media only screen and (max-width: @size_xs) {
    .nav__button {
        font-size: 11px;
        margin-right: 16px;
        width: 82px;
    }
}