.banner__button_color_white {
    background-color: @color_solid_white;
    color: @color_text_secondary;
}

.banner__button_color_white:hover {    
    .button-focus-animation(banner-white-button-focus,
        @color_solid_white, transparent, 
        @color_text_secondary, @color_solid_white);
    
    background-color: transparent;
    color: @color_solid_white;
}