.banner__button_color_transparent {
    background-color: transparent;
    color: @color__solid_white;
}

.banner__button_color_transparent:hover {    
    .button-focus-animation(banner-transparent-button-focus,
        transparent, @color__solid_white, 
        @color__solid_white, @color__text_secondary);
    
    background-color: @color__solid_white;
    color: @color__text_secondary;
}