.animation(@arguments) {
	-webkit-animation: @arguments;
	-moz-animation: @arguments;
	animation: @arguments;
}

.background-gradient() {
    background-image: linear-gradient(to right, #da00c5 0%, #450ab5 100%);
}

.border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.button-border-color(@color) {
    .border-radius(4px);

    border: 1px solid @color;
}

.button-focus-animation(@name, @background-from, @background-to, @text-from, @text-to) {
    .animation(@name 0.15s linear);

    .keyframes(@name, {
        0% {
            background-color: @background-from;
            color: @text-from;
        }
        100% {
            background-color: @background-to;
            color: @text-to;
        }
    });
}

.button-width(@width) {
    cursor: pointer;
    font-family: @font_theme;
    height: 40px;
    width: @width;
}

.submenu-icon-url(@icon) {
    content: url(@icon);
    display: inline-block;
    height: 4px;
    margin: 0 0 0 10px;
    vertical-align: middle;
}

.dropdown-box-shadow() {
    box-shadow: 0 10px 25px -10px rgba(85, 85, 85, 0.5), 0 1px 0 rgba(223, 223, 223, 0.5);
}

.keyframes(@name, @arguments) {
	@-moz-keyframes @name { @arguments(); }
	@-webkit-keyframes @name { @arguments(); }
	@keyframes @name { @arguments(); }
}