@color_solid_black: #000000;
@color_solid_white: #ffffff;

@color_text_main: #555555;
@color_text_secondary: #333333;
@color_text_title: #111111;
@color_text_underline: #efefef;

@color_theme_background: #f5f5f5;
@color_theme_black: #151515;
@color_theme_focus: #f0f0f0;
@color_theme_purple: #6b28d7;