.dropdown {
    .border-radius(2px);
    
    background: @color_solid_white;
    display: none;
    margin: 0 0 0 -32px;
    padding: 5px 10px;
    position: absolute;
    top: 90px;
    width: 160px;
}

.dropdown:before {
    content: url('/pixelart/src/img/Triangle_dropdown.svg');
    display: block;
    margin: -12px 0 0 0;
}