.nav__menu {
    float: right;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: @size_m) {
    .nav__menu {
        .animation(drop-in_hamburger 0.15s linear);
        .border-radius(2px);
        .dropdown-box-shadow();

        background-color: @color__solid_white;
        padding: 10px;
        position: absolute;
        right: 10px;
        top: 90px;
        width: 160px;
    }

    .nav__menu:before {
        content: url('../img/Triangle_dropdown.svg');
        float: right;
        margin: -26px 16px 0 0;
        text-align: right;
    }
}