.nav__menu {
    float: right;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: @size_m) {
    .nav__menu {
        .border-radius(2px);
        .dropdown-box-shadow();

        background-color: @color_solid_white;
        padding: 10px;
        position: absolute;
        right: 10px;
        top: 90px;
        width: 160px;
    }

    .nav__menu:before {
        content: url('/pixelart/src/img/Triangle_dropdown.svg');
        display: block;
        margin: -17px 20px 0 0;
        text-align: right;
    }
}