.dropdown__body {
    .border-radius(2px);
    .dropdown-box-shadow();
    
    background-color: @color__solid_white;
    margin: 10px 0 0 0;
    padding: 5px 10px;
}

.dropdown__body:before {
    content: url('../img/Triangle_dropdown.svg');
    display: block;
    margin: -21px 0 0 0;
}

@media only screen and (max-width: @size_m) {
    .dropdown__body {
        margin: 12px 2px 0 -2px;
    }
}