.login__input {
    .border-radius(4px);

    background-color: @color__theme_background_input;
    display: block;
    font-family: @font_theme;
    font-style: italic;
    height: 40px;
    margin: 9px 0 0 0;
    padding: 0 0 0 15px;
    width: calc(100% - 17px);
}

.login__input:hover {
    box-shadow: 0 0 1px @color__theme_purple;
}

.login__input:not(.login__input_error) {
    border: 1px solid @color__theme_border;
}