.login__submit {
    .button-border-color(@color__solid_white);
    .button-width(100%);

    background-color: @color__theme_purple;
    color: @color__solid_white;
    margin: 40px 0 0 0;
}

.login__submit:hover {
    .button-focus-animation(submit_button_focus, 
    @color__theme_purple, @color__solid_white, 
    @color__solid_white, @color__theme_purple);

    background-color: @color__solid_white;
    border: 1px solid @color__theme_purple;
    color: @color__theme_purple;
}